.MetroSongsMatchingBPM {
    text-align: center;

    &__header {
        color: $color_highlight;
        font-weight: bold;
        margin: 0.5em 0 0.5em 0;
    }

    &__list {
        list-style: none;

        .MetroSongsMatchingBPM__song {
            font-size: 0.9em;
            font-weight: normal;
            color: white;
            margin-bottom: 0.4em;
        }
    }
}
